---
layout: default
title: Alternate API Evangelist
---
<section>
	<div class="content">

		<h3>Alternate API Evangelist</h3>
	  <p><img style="padding: 15px;" src="https://s3.amazonaws.com/kinlane-productions/matrix-pics/chief-american-horse-sioux-matrix.png" width="14%" align="right" /></p>
	  <p>While immersed in a world of tech, reading and writing about real-world issues, I needed an outlet, somewhere I could publish my fictional thoughts and stories. I find it easier to get back to the every day grind of tech blogging, if I have a place to produce fictional work. So I created an alternate reality where I can blog about the weird stuff I think  about each day.</p>
		<p>In a fake news world it was difficult for me to continue writing on my alternate blogs, but I am beginning to find my way forward, and crave the release that fictional writing brings. I find design fiction endlessly valuable for when it comes to understanding APIs, AI, ML, and the other digital worlds that are emerging.</p>
	  <p>Nothing you read at <a href="http://alternate.apievangelist.com">alternate.apievangelist.com</a> or my other site <a href="http://alternate.kinlane.com">alternate.kinlane.com</a> is real, if you are looking for my real world API work visit <a href="http://kinlane.com/">Kin Lane</a> or <a href="http://apievangelist.com/">API Evangelist</a>, or <a href="http://api.report">API.Report</a> to get a dose of reality.</p>
		<center><hr style="width: 75%;" /></center>
		{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
	  {% for post in paginator.posts %}
		 	{% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
	    {% if post.title != null %}
				{% if posttime < nowunix %}
	        <h3><a href="{{ site.production_url }}{{ post.url }}">{{ post.title }}</a></h3>
	        <span class="post-date">{{ post.date | date_to_string }}</span>
	        {{ post.content }}
	        <ul class="actions" style="text-align: center;">
	          <li><a href="{{ site.production_url }}{{ post.url }}" class="button big">Details</a></li>
	        </ul>
	      	<center><hr style="width: 75%;" /></center>
					{% endif %}
	    {% endif %}
	  {% endfor %}

		<ul class="pagination" style="text-align: center;">
			<li style="text-align:left;"><a href="/page{{paginator.previous_page}}" class="button disabled"><< Prev</a></li>
			<li style="width: 75%"><span></span></li>
			<li style="text-align:right;"><a href="/page{{paginator.next_page}}" class="button">Next >></a></li>
		</ul>

  </div>
</section>
